@model MyWebShowStep.Data.Gpu

<div>
    Vendor: @Model.Vendor
</div>
<div>
    Graphical chip: @Model.GrapthChip
</div>
<div id="ram">
    RAM: @Model.RAM
</div>
<div>
    Memory type: @Model.MemoryType
</div>